In [1]:
import pandas as pd
import os

In [2]:
#change to descired directory
#os.chdir(r'')

In [3]:
#Read in data from EIA website
df = pd.read_excel('https://www.eia.gov/petroleum/drilling/xls/duc-data.xlsx')

In [10]:
#Pull first column as date column
date_col = df.iloc[:,0]

In [13]:
i = 1
total_df = pd.DataFrame([])
#Iterate over each basin column group, label columns, and append to the total df
while i <len(df.columns):
    temp = df.iloc[:,i:i+3]
    temp.loc[:,'temp'] = temp.iloc[1,0]
    temp = pd.concat([date_col, temp], axis =1)
    temp = temp.iloc[3:]
    temp.columns = ['Date', 'Drilled', 'Completed', 'DUC', 'Basin']
    total_df = total_df.append(temp)
    i += 4
total_df

                   Date Drilled Completed   DUC        Basin
3   2013-12-01 00:00:00      --        --   375     Anadarko
4   2014-01-01 00:00:00     222       215   382     Anadarko
5   2014-02-01 00:00:00     195       197   380     Anadarko
6   2014-03-01 00:00:00     202       238   344     Anadarko
7   2014-04-01 00:00:00     229       235   338     Anadarko
..                  ...     ...       ...   ...          ...
85  2020-10-01 00:00:00     315       599  7857  DPR Regions
86  2020-11-01 00:00:00     334       592  7599  DPR Regions
87  2020-12-01 00:00:00     373       595  7377  DPR Regions
88  2021-01-01 00:00:00     417       606  7188  DPR Regions
89  2021-02-01 00:00:00     380       482  7086  DPR Regions

[696 rows x 5 columns]

In [ ]:
total_df.loc[:,'Date'] = pd.to_datetime(total_df.loc[:,'Date'])

In [ ]:
total_df.reset_index(inplace=True, drop = True)

In [ ]:
#Dictionary to map Basin type
basin_dict = {' Bakken': 'Oil', '  Eagle Ford': 'Oil', 'Niobrara': 'Oil',
             'Permian': 'Oil', 'Haynesville': 'Gas', 'Anadarko': 'Oil',
             'Appalachia':'Gas'}

In [ ]:
#Map Basin type to new column
total_df['Basin Type']= total_df['Basin'].map(basin_dict)

In [ ]:
#Write to csv in current directory
total_df.to_csv(r'DUC_Data.csv')